@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined")
layer(base);
@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
  body {
    background-color: #f0f4f8;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@source "../app";
@source "../pages";
@source "../components";

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
